PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox
TAVILY_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
ANTHROPIC_API_KEY=
DATABASE_URL=postgresql://finance:localdev@localhost:5432/finance_agent
PLAID_ACCESS_TOKEN=
LANGSMITH_PROJECT=
